# 1- Data structures are specialized formats for organizing, managing, and storing data. They are crucial because:

They optimize data manipulation.
Enable efficient searching, insertion, and deletion.
Provide frameworks for implementing algorithms.

# 2- Mutable: Can be modified after creation.
     Immutable: Cannot be modified after creation.

# 3- Feature	List	Tuple
Mutability	             Mutable	           Immutable
Syntax	                  [ ]	                 ( )
Performance          	Slower (dynamic)	     Faster (static)
Use Case	     Frequently changing data	    Fixed or constant data

# 4- Dictionaries store data as key-value pairs using a hash table. Keys are hashed to determine an index, allowing constant-time access. Values are stored in a way linked to their keys.

# 5- Sets automatically remove duplicate values.
Offer faster membership checks (O(1) for sets vs. O(n) for lists).

# 6- A string is an immutable sequence of characters.
Unlike a list, a string cannot be modified in place

# 7- Tuples are immutable, ensuring that their data remains unchanged. This makes them ideal for fixed collections or keys in dictionaries.

# 8- A hash table is a data structure that maps keys to values using a hash function. In Python:

Dictionaries are implemented as hash tables.
Keys are hashed for quick lookup (O(1) average time complexity).

# 9- Yes, lists can contain mixed data types

# 10- Strings are immutable to:

Enhance performance (memory reuse and caching).
Ensure thread safety in multi-threaded programs.

# 11- Faster lookups (O(1) vs. O(n) for lists).
Clear key-value pair mapping, enabling intuitive data organization.

# 12- You need to ensure data integrity (e.g., coordinates in 3D space (x, y, z)).
As keys in a dictionary since tuples are hashable.

# 13- Sets automatically remove duplicates

# 14-
Lists: Linear search (O(n)).
Dictionaries: Checks keys using hashing (O(1)).

# 15- No, tuples are immutable. You cannot modify their elements after creation. This ensures data integrity.

# 16- A nested dictionary is a dictionary containing other dictionaries as values.
Use case: Representing hierarchical data, e.g., employee details.

# 17- Average-case time complexity: O(1) (constant time).
Worst-case (rare due to hash collisions): O(n).

# 18- Sequential data where indices are used.
When ordering and duplicates matter.

# 19- Dictionaries are unordered because they use hash tables. In older versions (< Python 3.7), insertion order wasn't preserved. While modern dictionaries preserve order, retrieval is always by key, not index.

# 20- List: Indexed-based retrieval.
      Dictionary: Key-based retrieval.

**PRACTICAL QUESTIONS**

In [ ]:
# 1-

name = "Rishabh"
print(name)

Rishabh

In [ ]:
# 2-

string = "Hello World"
length = len(string)
print("Length:", length)

Length: 11

In [ ]:
# 3-

string = "Python Programming"
sliced = string[:3]
print("First 3 characters:", sliced)

First 3 characters: Pyt

In [ ]:
# 4-

string = "hello"
uppercase_string = string.upper()
print("Uppercase:", uppercase_string)

Uppercase: HELLO

In [ ]:
# 5-

string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [ ]:
# 6-
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# 7-

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
# 8-

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
# 9-
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("Second element:", second_element)

Second element: b

In [ ]:
# 10-

numbers = [10, 20, 30, 40, 50]
reversed_list = numbers[::-1]
print("Reversed list:", reversed_list)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:
# 11-

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [ ]:
# 12-

fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print("First element:", first_element)

First element: apple

In [ ]:
# 13-

numbers = (1, 2, 3, 2, 4, 2)
count = numbers.count(2)
print("Number of times 2 appears:", count)

Number of times 2 appears: 3

In [ ]:
# 14-

animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print("Index of 'cat':", index)

Index of 'cat': 1

In [ ]:
# 15-

fruits = ('apple', 'orange', 'banana')
is_present = 'banana' in fruits
print("Is 'banana' in the tuple?", is_present)

Is 'banana' in the tuple? True

In [ ]:
# 16-

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
# 17-

my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [ ]:
# 18-

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [ ]:
# 19-

fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print("First element:", first_element)

First element: apple

In [ ]:
# 20-

numbers = (1, 2, 3, 2, 4, 2)
count = numbers.count(2)
print("Number of times 2 appears:", count)

Number of times 2 appears: 3

In [ ]:
# 21-

animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print("Index of 'cat':", index)

Index of 'cat': 1

In [ ]:
# 22-

fruits = ('apple', 'orange', 'banana')
is_present = 'banana' in fruits
print("Is 'banana' in the tuple?", is_present)

Is 'banana' in the tuple? True

In [ ]:
# 23-

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
# 24-

my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}